In [1]:
#importing the files
import numpy as np
# import matplotlib.pyplot as plt
import pandas as pd
from sklearn.cluster import KMeans
from sklearn.tree import DecisionTreeClassifier # Import Decision Tree Classifier

In [2]:
State_list=['Manipur','Mizoram','Sikkim','Nagaland','Meghalaya','Assam']
State_list_S=['Mizoram','Sikkim','Nagaland','Meghalaya','Assam']
df_list={}  #datafrmae list

In [3]:
#Reading the csv files
for state in State_list:
    df_list[state]=pd.read_csv(state+'.csv',encoding = "ISO-8859-1",error_bad_lines=False);

In [4]:
State_df=df_list['Manipur'];
State_df
# State_df[State_df.DISTRICT == "TOTAL"]

,STATE,DISTRICT,YEAR,MURDER,RAPE,KIDNAPPING & ABDUCTION,DACOITY,ROBBERY,BURGLARY,THEFT,AUTO THEFT,CHEATING,HURT/GREVIOUS HURT
0,MANIPUR,BISHNUPUR,2001,29,1,3,3,2,6,11,1,3,21
1,MANIPUR,CHANDEL,2001,7,0,1,16,4,2,1,0,1,13
2,MANIPUR,CHURACHANDPUR,2001,35,1,0,0,0,4,12,1,3,3
3,MANIPUR,KIMPHAL_EAST,2001,29,7,13,0,1,12,28,16,16,26
4,MANIPUR,IMPHAL_WEST,2001,44,7,48,1,2,38,121,52,25,75
...,...,...,...,...,...,...,...,...,...,...,...,...,...
115,MANIPUR,SENAPATI,2012,2,2,22,8,1,3,13,0,5,4
116,MANIPUR,TAMENGLONG,2012,11,1,7,0,0,0,3,1,2,3
117,MANIPUR,THOUBAL,2012,16,20,44,0,0,8,94,66,30,80
118,MANIPUR,UKHRUL,2012,5,0,9,0,0,7,9,1,8,2
119,MANIPUR,TOTAL,2012,83,63,223,8,3,53,903,736,136,285

In [5]:
#Removing the total row 
State_df=State_df[State_df.DISTRICT != "TOTAL"]
State_df
# State_df[State_df.DISTRICT == "TOTAL"]

,STATE,DISTRICT,YEAR,MURDER,RAPE,KIDNAPPING & ABDUCTION,DACOITY,ROBBERY,BURGLARY,THEFT,AUTO THEFT,CHEATING,HURT/GREVIOUS HURT
0,MANIPUR,BISHNUPUR,2001,29,1,3,3,2,6,11,1,3,21
1,MANIPUR,CHANDEL,2001,7,0,1,16,4,2,1,0,1,13
2,MANIPUR,CHURACHANDPUR,2001,35,1,0,0,0,4,12,1,3,3
3,MANIPUR,KIMPHAL_EAST,2001,29,7,13,0,1,12,28,16,16,26
4,MANIPUR,IMPHAL_WEST,2001,44,7,48,1,2,38,121,52,25,75
...,...,...,...,...,...,...,...,...,...,...,...,...,...
114,MANIPUR,IMPHAL_WEST,2012,14,18,72,0,1,17,520,456,49,122
115,MANIPUR,SENAPATI,2012,2,2,22,8,1,3,13,0,5,4
116,MANIPUR,TAMENGLONG,2012,11,1,7,0,0,0,3,1,2,3
117,MANIPUR,THOUBAL,2012,16,20,44,0,0,8,94,66,30,80
118,MANIPUR,UKHRUL,2012,5,0,9,0,0,7,9,1,8,2

In [6]:
#Selecting the required columns
data_frame=State_df.iloc[:,1:]
data_frame

,DISTRICT,YEAR,MURDER,RAPE,KIDNAPPING & ABDUCTION,DACOITY,ROBBERY,BURGLARY,THEFT,AUTO THEFT,CHEATING,HURT/GREVIOUS HURT
0,BISHNUPUR,2001,29,1,3,3,2,6,11,1,3,21
1,CHANDEL,2001,7,0,1,16,4,2,1,0,1,13
2,CHURACHANDPUR,2001,35,1,0,0,0,4,12,1,3,3
3,KIMPHAL_EAST,2001,29,7,13,0,1,12,28,16,16,26
4,IMPHAL_WEST,2001,44,7,48,1,2,38,121,52,25,75
...,...,...,...,...,...,...,...,...,...,...,...,...
114,IMPHAL_WEST,2012,14,18,72,0,1,17,520,456,49,122
115,SENAPATI,2012,2,2,22,8,1,3,13,0,5,4
116,TAMENGLONG,2012,11,1,7,0,0,0,3,1,2,3
117,THOUBAL,2012,16,20,44,0,0,8,94,66,30,80
118,UKHRUL,2012,5,0,9,0,0,7,9,1,8,2

In [7]:
# Adding all the crime and storing it on a new column called TOTAL
data_frame["TOTAL"]= data_frame.iloc[:,2:].sum(axis=1)
data_frame

,DISTRICT,YEAR,MURDER,RAPE,KIDNAPPING & ABDUCTION,DACOITY,ROBBERY,BURGLARY,THEFT,AUTO THEFT,CHEATING,HURT/GREVIOUS HURT,TOTAL
0,BISHNUPUR,2001,29,1,3,3,2,6,11,1,3,21,80
1,CHANDEL,2001,7,0,1,16,4,2,1,0,1,13,45
2,CHURACHANDPUR,2001,35,1,0,0,0,4,12,1,3,3,59
3,KIMPHAL_EAST,2001,29,7,13,0,1,12,28,16,16,26,148
4,IMPHAL_WEST,2001,44,7,48,1,2,38,121,52,25,75,413
...,...,...,...,...,...,...,...,...,...,...,...,...,...
114,IMPHAL_WEST,2012,14,18,72,0,1,17,520,456,49,122,1269
115,SENAPATI,2012,2,2,22,8,1,3,13,0,5,4,60
116,TAMENGLONG,2012,11,1,7,0,0,0,3,1,2,3,28
117,THOUBAL,2012,16,20,44,0,0,8,94,66,30,80,358
118,UKHRUL,2012,5,0,9,0,0,7,9,1,8,2,41

In [8]:
#Selecting the columns for clustering
data_arr = data_frame.iloc[:,2:-1] 
data_arr

,MURDER,RAPE,KIDNAPPING & ABDUCTION,DACOITY,ROBBERY,BURGLARY,THEFT,AUTO THEFT,CHEATING,HURT/GREVIOUS HURT
0,29,1,3,3,2,6,11,1,3,21
1,7,0,1,16,4,2,1,0,1,13
2,35,1,0,0,0,4,12,1,3,3
3,29,7,13,0,1,12,28,16,16,26
4,44,7,48,1,2,38,121,52,25,75
...,...,...,...,...,...,...,...,...,...,...
114,14,18,72,0,1,17,520,456,49,122
115,2,2,22,8,1,3,13,0,5,4
116,11,1,7,0,0,0,3,1,2,3
117,16,20,44,0,0,8,94,66,30,80
118,5,0,9,0,0,7,9,1,8,2

In [9]:
data_arr = np.array(data_arr) #Converting to array
no_cluster=4
clusters = KMeans(no_cluster)  
cluster=clusters.fit( data_arr )

clusters.cluster_centers_
print(clusters.labels_.shape)
clusters.labels_

(108,)

array([2, 2, 2, 2, 0, 2, 2, 0, 2, 0, 2, 2, 0, 3, 2, 2, 0, 2, 2, 2, 2, 0,
       3, 2, 2, 0, 2, 2, 2, 2, 0, 3, 2, 2, 0, 2, 2, 2, 2, 0, 3, 2, 2, 0,
       2, 2, 2, 2, 0, 3, 2, 2, 0, 2, 0, 2, 2, 0, 3, 2, 2, 0, 2, 0, 2, 2,
       0, 3, 2, 2, 0, 2, 2, 2, 2, 0, 3, 2, 2, 0, 2, 0, 2, 2, 0, 3, 2, 2,
       0, 2, 0, 2, 2, 0, 1, 2, 2, 0, 2, 2, 2, 2, 3, 1, 2, 2, 0, 2])

In [10]:
#Placing the cluster value to the dataset by creating new column name Crime_cluster
data_frame['Crime_clusters'] = clusters.labels_ 
data_frame

,DISTRICT,YEAR,MURDER,RAPE,KIDNAPPING & ABDUCTION,DACOITY,ROBBERY,BURGLARY,THEFT,AUTO THEFT,CHEATING,HURT/GREVIOUS HURT,TOTAL,Crime_clusters
0,BISHNUPUR,2001,29,1,3,3,2,6,11,1,3,21,80,2
1,CHANDEL,2001,7,0,1,16,4,2,1,0,1,13,45,2
2,CHURACHANDPUR,2001,35,1,0,0,0,4,12,1,3,3,59,2
3,KIMPHAL_EAST,2001,29,7,13,0,1,12,28,16,16,26,148,2
4,IMPHAL_WEST,2001,44,7,48,1,2,38,121,52,25,75,413,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
114,IMPHAL_WEST,2012,14,18,72,0,1,17,520,456,49,122,1269,1
115,SENAPATI,2012,2,2,22,8,1,3,13,0,5,4,60,2
116,TAMENGLONG,2012,11,1,7,0,0,0,3,1,2,3,28,2
117,THOUBAL,2012,16,20,44,0,0,8,94,66,30,80,358,0
118,UKHRUL,2012,5,0,9,0,0,7,9,1,8,2,41,2

In [11]:
#Adding the feature centers for getting each cluster centers
centers = np.array(clusters.cluster_centers_)
center_sum =np.sum(centers,axis=1)
print(centers)
center_sum

[[2.70000000e+01 6.85714286e+00 3.05357143e+01 2.50000000e-01
  7.85714286e-01 8.92857143e+00 4.58214286e+01 2.03214286e+01
  2.15000000e+01 6.35714286e+01]
 [1.90000000e+01 1.75000000e+01 6.65000000e+01 0.00000000e+00
  1.50000000e+00 1.55000000e+01 5.08000000e+02 4.39000000e+02
  5.10000000e+01 1.02500000e+02]
 [1.20588235e+01 1.13235294e+00 4.63235294e+00 5.29411765e-01
  6.02941176e-01 2.57352941e+00 1.02500000e+01 1.73529412e+00
  2.64705882e+00 7.33823529e+00]
 [3.41000000e+01 8.30000000e+00 5.08000000e+01 5.00000000e-01
  1.70000000e+00 2.99000000e+01 1.83800000e+02 1.24900000e+02
  3.41000000e+01 9.49000000e+01]]

array([ 225.57142857, 1220.5       ,   43.5       ,  563.        ])

In [12]:
#Sorting the clusters w.r.t crime numbers  
cluster_index = []  #Decreasing order of cluster
cluster_index_name = ['V_High', 'High','Low','V_Low']

for i in range(0,4): 
    index= np.argmax(center_sum) #FInds the max element from the center_sum array
    center_sum[index]=0; #After finding max element to find sencond max replace current max to 0

    cluster_index.append(index)
cluster_index

[1, 3, 0, 2]

In [13]:
#Training data

#For label 0 i.e very_high
arr=[]
for x in range(1,12):
    for i in range(12-x,1,-1):
        col1=12-i-x
        if(col1==0):
            temp_arr=[x,i,0,0,0]
            arr.append(temp_arr)
        for j in range(col1,0,-1):
            col2=12-i-j-x
            if(col1==1):
                temp_arr=[x,i,j,0,0]
                arr.append(temp_arr)
                temp_arr=[x,i,0,j,0]
                arr.append(temp_arr)            
            for k in range(col2,0,-1):
                if(i+j+k+x==12):
                    temp_arr=[x,i,j,k,0]
        #                 print(temp_arr)
                    arr.append(temp_arr) 
arr

[[1, 11, 0, 0, 0],
 [1, 10, 1, 0, 0],
 [1, 10, 0, 1, 0],
 [1, 9, 1, 1, 0],
 [1, 8, 2, 1, 0],
 [1, 8, 1, 2, 0],
 [1, 7, 3, 1, 0],
 [1, 7, 2, 2, 0],
 [1, 7, 1, 3, 0],
 [1, 6, 4, 1, 0],
 [1, 6, 3, 2, 0],
 [1, 6, 2, 3, 0],
 [1, 6, 1, 4, 0],
 [1, 5, 5, 1, 0],
 [1, 5, 4, 2, 0],
 [1, 5, 3, 3, 0],
 [1, 5, 2, 4, 0],
 [1, 5, 1, 5, 0],
 [1, 4, 6, 1, 0],
 [1, 4, 5, 2, 0],
 [1, 4, 4, 3, 0],
 [1, 4, 3, 4, 0],
 [1, 4, 2, 5, 0],
 [1, 4, 1, 6, 0],
 [1, 3, 7, 1, 0],
 [1, 3, 6, 2, 0],
 [1, 3, 5, 3, 0],
 [1, 3, 4, 4, 0],
 [1, 3, 3, 5, 0],
 [1, 3, 2, 6, 0],
 [1, 3, 1, 7, 0],
 [1, 2, 8, 1, 0],
 [1, 2, 7, 2, 0],
 [1, 2, 6, 3, 0],
 [1, 2, 5, 4, 0],
 [1, 2, 4, 5, 0],
 [1, 2, 3, 6, 0],
 [1, 2, 2, 7, 0],
 [1, 2, 1, 8, 0],
 [2, 10, 0, 0, 0],
 [2, 9, 1, 0, 0],
 [2, 9, 0, 1, 0],
 [2, 8, 1, 1, 0],
 [2, 7, 2, 1, 0],
 [2, 7, 1, 2, 0],
 [2, 6, 3, 1, 0],
 [2, 6, 2, 2, 0],
 [2, 6, 1, 3, 0],
 [2, 5, 4, 1, 0],
 [2, 5, 3, 2, 0],
 [2, 5, 2, 3, 0],
 [2, 5, 1, 4, 0],
 [2, 4, 5, 1, 0],
 [2, 4, 4, 2, 0],
 [2, 4, 3, 3, 0],
 [2, 4, 2, 4, 0],
 [2, 4, 1, 5, 0],
 [2, 3, 6, 1, 0],
 [2, 3, 5, 2, 0],
 [2, 3, 4, 3, 0],
 [2, 3, 3, 4, 0],
 [2, 3, 2, 5, 0],
 [2, 3, 1, 6, 0],
 [2, 2, 7, 1, 0],
 [2, 2, 6, 2, 0],
 [2, 2, 5, 3, 0],
 [2, 2, 4, 4, 0],
 [2, 2, 3, 5, 0],
 [2, 2, 2, 6, 0],
 [2, 2, 1, 7, 0],
 [3, 9, 0, 0, 0],
 [3, 8, 1, 0, 0],
 [3, 8, 0, 1, 0],
 [3, 7, 1, 1, 0],
 [3, 6, 2, 1, 0],
 [3, 6, 1, 2, 0],
 [3, 5, 3, 1, 0],
 [3, 5, 2, 2, 0],
 [3, 5, 1, 3, 0],
 [3, 4, 4, 1, 0],
 [3, 4, 3, 2, 0],
 [3, 4, 2, 3, 0],
 [3, 4, 1, 4, 0],
 [3, 3, 5, 1, 0],
 [3, 3, 4, 2, 0],
 [3, 3, 3, 3, 0],
 [3, 3, 2, 4, 0],
 [3, 3, 1, 5, 0],
 [3, 2, 6, 1, 0],
 [3, 2, 5, 2, 0],
 [3, 2, 4, 3, 0],
 [3, 2, 3, 4, 0],
 [3, 2, 2, 5, 0],
 [3, 2, 1, 6, 0],
 [4, 8, 0, 0, 0],
 [4, 7, 1, 0, 0],
 [4, 7, 0, 1, 0],
 [4, 6, 1, 1, 0],
 [4, 5, 2, 1, 0],
 [4, 5, 1, 2, 0],
 [4, 4, 3, 1, 0],
 [4, 4, 2, 2, 0],
 [4, 4, 1, 3, 0],
 [4, 3, 4, 1, 0],
 [4, 3, 3, 2, 0],
 [4, 3, 2, 3, 0],
 [4, 3, 1, 4, 0],
 [4, 2, 5, 1, 0],
 [4, 2, 4, 2, 0],
 [4, 2, 3, 3, 0],
 [4, 2, 2, 4, 0],
 [4, 2, 1, 5, 0],
 [5, 7, 0, 0, 0],
 [5, 6, 1, 0, 0],
 [5, 6, 0, 1, 0],
 [5, 5, 1, 1, 0],
 [5, 4, 2, 1, 0],
 [5, 4, 1, 2, 0],
 [5, 3, 3, 1, 0],
 [5, 3, 2, 2, 0],
 [5, 3, 1, 3, 0],
 [5, 2, 4, 1, 0],
 [5, 2, 3, 2, 0],
 [5, 2, 2, 3, 0],
 [5, 2, 1, 4, 0],
 [6, 6, 0, 0, 0],
 [6, 5, 1, 0, 0],
 [6, 5, 0, 1, 0],
 [6, 4, 1, 1, 0],
 [6, 3, 2, 1, 0],
 [6, 3, 1, 2, 0],
 [6, 2, 3, 1, 0],
 [6, 2, 2, 2, 0],
 [6, 2, 1, 3, 0],
 [7, 5, 0, 0, 0],
 [7, 4, 1, 0, 0],
 [7, 4, 0, 1, 0],
 [7, 3, 1, 1, 0],
 [7, 2, 2, 1, 0],
 [7, 2, 1, 2, 0],
 [8, 4, 0, 0, 0],
 [8, 3, 1, 0, 0],
 [8, 3, 0, 1, 0],
 [8, 2, 1, 1, 0],
 [9, 3, 0, 0, 0],
 [9, 2, 1, 0, 0],
 [9, 2, 0, 1, 0],
 [10, 2, 0, 0, 0]]

In [14]:
#For label 1 i.e high
for i in range(12,0,-1):
    col1=12-i
    if(col1==0):
        temp_arr=[0,i,0,0,1]
        arr.append(temp_arr)
    for j in range(col1,1,-1):
        col2=12-i-j
        if(col1==1):
            temp_arr=[0,i,j,0,1]
            arr.append(temp_arr)
            temp_arr=[0,i,0,j,1]
            arr.append(temp_arr)            
        for k in range(col2,0,-1):
            if(i+j+k==12):
                temp_arr=[0,i,j,k,1]
    #                 print(temp_arr)
                arr.append(temp_arr)
arr

[[1, 11, 0, 0, 0],
 [1, 10, 1, 0, 0],
 [1, 10, 0, 1, 0],
 [1, 9, 1, 1, 0],
 [1, 8, 2, 1, 0],
 [1, 8, 1, 2, 0],
 [1, 7, 3, 1, 0],
 [1, 7, 2, 2, 0],
 [1, 7, 1, 3, 0],
 [1, 6, 4, 1, 0],
 [1, 6, 3, 2, 0],
 [1, 6, 2, 3, 0],
 [1, 6, 1, 4, 0],
 [1, 5, 5, 1, 0],
 [1, 5, 4, 2, 0],
 [1, 5, 3, 3, 0],
 [1, 5, 2, 4, 0],
 [1, 5, 1, 5, 0],
 [1, 4, 6, 1, 0],
 [1, 4, 5, 2, 0],
 [1, 4, 4, 3, 0],
 [1, 4, 3, 4, 0],
 [1, 4, 2, 5, 0],
 [1, 4, 1, 6, 0],
 [1, 3, 7, 1, 0],
 [1, 3, 6, 2, 0],
 [1, 3, 5, 3, 0],
 [1, 3, 4, 4, 0],
 [1, 3, 3, 5, 0],
 [1, 3, 2, 6, 0],
 [1, 3, 1, 7, 0],
 [1, 2, 8, 1, 0],
 [1, 2, 7, 2, 0],
 [1, 2, 6, 3, 0],
 [1, 2, 5, 4, 0],
 [1, 2, 4, 5, 0],
 [1, 2, 3, 6, 0],
 [1, 2, 2, 7, 0],
 [1, 2, 1, 8, 0],
 [2, 10, 0, 0, 0],
 [2, 9, 1, 0, 0],
 [2, 9, 0, 1, 0],
 [2, 8, 1, 1, 0],
 [2, 7, 2, 1, 0],
 [2, 7, 1, 2, 0],
 [2, 6, 3, 1, 0],
 [2, 6, 2, 2, 0],
 [2, 6, 1, 3, 0],
 [2, 5, 4, 1, 0],
 [2, 5, 3, 2, 0],
 [2, 5, 2, 3, 0],
 [2, 5, 1, 4, 0],
 [2, 4, 5, 1, 0],
 [2, 4, 4, 2, 0],
 [2, 4, 3, 3, 0],
 [2, 4, 2, 4, 0],
 [2, 4, 1, 5, 0],
 [2, 3, 6, 1, 0],
 [2, 3, 5, 2, 0],
 [2, 3, 4, 3, 0],
 [2, 3, 3, 4, 0],
 [2, 3, 2, 5, 0],
 [2, 3, 1, 6, 0],
 [2, 2, 7, 1, 0],
 [2, 2, 6, 2, 0],
 [2, 2, 5, 3, 0],
 [2, 2, 4, 4, 0],
 [2, 2, 3, 5, 0],
 [2, 2, 2, 6, 0],
 [2, 2, 1, 7, 0],
 [3, 9, 0, 0, 0],
 [3, 8, 1, 0, 0],
 [3, 8, 0, 1, 0],
 [3, 7, 1, 1, 0],
 [3, 6, 2, 1, 0],
 [3, 6, 1, 2, 0],
 [3, 5, 3, 1, 0],
 [3, 5, 2, 2, 0],
 [3, 5, 1, 3, 0],
 [3, 4, 4, 1, 0],
 [3, 4, 3, 2, 0],
 [3, 4, 2, 3, 0],
 [3, 4, 1, 4, 0],
 [3, 3, 5, 1, 0],
 [3, 3, 4, 2, 0],
 [3, 3, 3, 3, 0],
 [3, 3, 2, 4, 0],
 [3, 3, 1, 5, 0],
 [3, 2, 6, 1, 0],
 [3, 2, 5, 2, 0],
 [3, 2, 4, 3, 0],
 [3, 2, 3, 4, 0],
 [3, 2, 2, 5, 0],
 [3, 2, 1, 6, 0],
 [4, 8, 0, 0, 0],
 [4, 7, 1, 0, 0],
 [4, 7, 0, 1, 0],
 [4, 6, 1, 1, 0],
 [4, 5, 2, 1, 0],
 [4, 5, 1, 2, 0],
 [4, 4, 3, 1, 0],
 [4, 4, 2, 2, 0],
 [4, 4, 1, 3, 0],
 [4, 3, 4, 1, 0],
 [4, 3, 3, 2, 0],
 [4, 3, 2, 3, 0],
 [4, 3, 1, 4, 0],
 [4, 2, 5, 1, 0],
 [4, 2, 4, 2, 0],
 [4, 2, 3, 3, 0],
 [4, 2, 2, 4, 0],
 [4, 2, 1, 5, 0],
 [5, 7, 0, 0, 0],
 [5, 6, 1, 0, 0],
 [5, 6, 0, 1, 0],
 [5, 5, 1, 1, 0],
 [5, 4, 2, 1, 0],
 [5, 4, 1, 2, 0],
 [5, 3, 3, 1, 0],
 [5, 3, 2, 2, 0],
 [5, 3, 1, 3, 0],
 [5, 2, 4, 1, 0],
 [5, 2, 3, 2, 0],
 [5, 2, 2, 3, 0],
 [5, 2, 1, 4, 0],
 [6, 6, 0, 0, 0],
 [6, 5, 1, 0, 0],
 [6, 5, 0, 1, 0],
 [6, 4, 1, 1, 0],
 [6, 3, 2, 1, 0],
 [6, 3, 1, 2, 0],
 [6, 2, 3, 1, 0],
 [6, 2, 2, 2, 0],
 [6, 2, 1, 3, 0],
 [7, 5, 0, 0, 0],
 [7, 4, 1, 0, 0],
 [7, 4, 0, 1, 0],
 [7, 3, 1, 1, 0],
 [7, 2, 2, 1, 0],
 [7, 2, 1, 2, 0],
 [8, 4, 0, 0, 0],
 [8, 3, 1, 0, 0],
 [8, 3, 0, 1, 0],
 [8, 2, 1, 1, 0],
 [9, 3, 0, 0, 0],
 [9, 2, 1, 0, 0],
 [9, 2, 0, 1, 0],
 [10, 2, 0, 0, 0],
 [0, 12, 0, 0, 1],
 [0, 9, 2, 1, 1],
 [0, 8, 3, 1, 1],
 [0, 8, 2, 2, 1],
 [0, 7, 4, 1, 1],
 [0, 7, 3, 2, 1],
 [0, 7, 2, 3, 1],
 [0, 6, 5, 1, 1],
 [0, 6, 4, 2, 1],
 [0, 6, 3, 3, 1],
 [0, 6, 2, 4, 1],
 [0, 5, 6, 1, 1],
 [0, 5, 5, 2, 1],
 [0, 5, 4, 3, 1],
 [0, 5, 3, 4, 1],
 [0, 5, 2, 5, 1],
 [0, 4, 7, 1, 1],
 [0, 4, 6, 2, 1],
 [0, 4, 5, 3, 1],
 [0, 4, 4, 4, 1],
 [0, 4, 3, 5, 1],
 [0, 4, 2, 6, 1],
 [0, 3, 8, 1, 1],
 [0, 3, 7, 2, 1],
 [0, 3, 6, 3, 1],
 [0, 3, 5, 4, 1],
 [0, 3, 4, 5, 1],
 [0, 3, 3, 6, 1],
 [0, 3, 2, 7, 1],
 [0, 2, 9, 1, 1],
 [0, 2, 8, 2, 1],
 [0, 2, 7, 3, 1],
 [0, 2, 6, 4, 1],
 [0, 2, 5, 5, 1],
 [0, 2, 4, 6, 1],
 [0, 2, 3, 7, 1],
 [0, 2, 2, 8, 1],
 [0, 1, 10, 1, 1],
 [0, 1, 9, 2, 1],
 [0, 1, 8, 3, 1],
 [0, 1, 7, 4, 1],
 [0, 1, 6, 5, 1],
 [0, 1, 5, 6, 1],
 [0, 1, 4, 7, 1],
 [0, 1, 3, 8, 1],
 [0, 1, 2, 9, 1]]

In [15]:

#For label 2 i.e low

var=12
x=var
while(x!=0):
    temp_arr=[0,0,x,var-x,2]
    x=x-1
    arr.append(temp_arr)
arr

[[1, 11, 0, 0, 0],
 [1, 10, 1, 0, 0],
 [1, 10, 0, 1, 0],
 [1, 9, 1, 1, 0],
 [1, 8, 2, 1, 0],
 [1, 8, 1, 2, 0],
 [1, 7, 3, 1, 0],
 [1, 7, 2, 2, 0],
 [1, 7, 1, 3, 0],
 [1, 6, 4, 1, 0],
 [1, 6, 3, 2, 0],
 [1, 6, 2, 3, 0],
 [1, 6, 1, 4, 0],
 [1, 5, 5, 1, 0],
 [1, 5, 4, 2, 0],
 [1, 5, 3, 3, 0],
 [1, 5, 2, 4, 0],
 [1, 5, 1, 5, 0],
 [1, 4, 6, 1, 0],
 [1, 4, 5, 2, 0],
 [1, 4, 4, 3, 0],
 [1, 4, 3, 4, 0],
 [1, 4, 2, 5, 0],
 [1, 4, 1, 6, 0],
 [1, 3, 7, 1, 0],
 [1, 3, 6, 2, 0],
 [1, 3, 5, 3, 0],
 [1, 3, 4, 4, 0],
 [1, 3, 3, 5, 0],
 [1, 3, 2, 6, 0],
 [1, 3, 1, 7, 0],
 [1, 2, 8, 1, 0],
 [1, 2, 7, 2, 0],
 [1, 2, 6, 3, 0],
 [1, 2, 5, 4, 0],
 [1, 2, 4, 5, 0],
 [1, 2, 3, 6, 0],
 [1, 2, 2, 7, 0],
 [1, 2, 1, 8, 0],
 [2, 10, 0, 0, 0],
 [2, 9, 1, 0, 0],
 [2, 9, 0, 1, 0],
 [2, 8, 1, 1, 0],
 [2, 7, 2, 1, 0],
 [2, 7, 1, 2, 0],
 [2, 6, 3, 1, 0],
 [2, 6, 2, 2, 0],
 [2, 6, 1, 3, 0],
 [2, 5, 4, 1, 0],
 [2, 5, 3, 2, 0],
 [2, 5, 2, 3, 0],
 [2, 5, 1, 4, 0],
 [2, 4, 5, 1, 0],
 [2, 4, 4, 2, 0],
 [2, 4, 3, 3, 0],
 [2, 4, 2, 4, 0],
 [2, 4, 1, 5, 0],
 [2, 3, 6, 1, 0],
 [2, 3, 5, 2, 0],
 [2, 3, 4, 3, 0],
 [2, 3, 3, 4, 0],
 [2, 3, 2, 5, 0],
 [2, 3, 1, 6, 0],
 [2, 2, 7, 1, 0],
 [2, 2, 6, 2, 0],
 [2, 2, 5, 3, 0],
 [2, 2, 4, 4, 0],
 [2, 2, 3, 5, 0],
 [2, 2, 2, 6, 0],
 [2, 2, 1, 7, 0],
 [3, 9, 0, 0, 0],
 [3, 8, 1, 0, 0],
 [3, 8, 0, 1, 0],
 [3, 7, 1, 1, 0],
 [3, 6, 2, 1, 0],
 [3, 6, 1, 2, 0],
 [3, 5, 3, 1, 0],
 [3, 5, 2, 2, 0],
 [3, 5, 1, 3, 0],
 [3, 4, 4, 1, 0],
 [3, 4, 3, 2, 0],
 [3, 4, 2, 3, 0],
 [3, 4, 1, 4, 0],
 [3, 3, 5, 1, 0],
 [3, 3, 4, 2, 0],
 [3, 3, 3, 3, 0],
 [3, 3, 2, 4, 0],
 [3, 3, 1, 5, 0],
 [3, 2, 6, 1, 0],
 [3, 2, 5, 2, 0],
 [3, 2, 4, 3, 0],
 [3, 2, 3, 4, 0],
 [3, 2, 2, 5, 0],
 [3, 2, 1, 6, 0],
 [4, 8, 0, 0, 0],
 [4, 7, 1, 0, 0],
 [4, 7, 0, 1, 0],
 [4, 6, 1, 1, 0],
 [4, 5, 2, 1, 0],
 [4, 5, 1, 2, 0],
 [4, 4, 3, 1, 0],
 [4, 4, 2, 2, 0],
 [4, 4, 1, 3, 0],
 [4, 3, 4, 1, 0],
 [4, 3, 3, 2, 0],
 [4, 3, 2, 3, 0],
 [4, 3, 1, 4, 0],
 [4, 2, 5, 1, 0],
 [4, 2, 4, 2, 0],
 [4, 2, 3, 3, 0],
 [4, 2, 2, 4, 0],
 [4, 2, 1, 5, 0],
 [5, 7, 0, 0, 0],
 [5, 6, 1, 0, 0],
 [5, 6, 0, 1, 0],
 [5, 5, 1, 1, 0],
 [5, 4, 2, 1, 0],
 [5, 4, 1, 2, 0],
 [5, 3, 3, 1, 0],
 [5, 3, 2, 2, 0],
 [5, 3, 1, 3, 0],
 [5, 2, 4, 1, 0],
 [5, 2, 3, 2, 0],
 [5, 2, 2, 3, 0],
 [5, 2, 1, 4, 0],
 [6, 6, 0, 0, 0],
 [6, 5, 1, 0, 0],
 [6, 5, 0, 1, 0],
 [6, 4, 1, 1, 0],
 [6, 3, 2, 1, 0],
 [6, 3, 1, 2, 0],
 [6, 2, 3, 1, 0],
 [6, 2, 2, 2, 0],
 [6, 2, 1, 3, 0],
 [7, 5, 0, 0, 0],
 [7, 4, 1, 0, 0],
 [7, 4, 0, 1, 0],
 [7, 3, 1, 1, 0],
 [7, 2, 2, 1, 0],
 [7, 2, 1, 2, 0],
 [8, 4, 0, 0, 0],
 [8, 3, 1, 0, 0],
 [8, 3, 0, 1, 0],
 [8, 2, 1, 1, 0],
 [9, 3, 0, 0, 0],
 [9, 2, 1, 0, 0],
 [9, 2, 0, 1, 0],
 [10, 2, 0, 0, 0],
 [0, 12, 0, 0, 1],
 [0, 9, 2, 1, 1],
 [0, 8, 3, 1, 1],
 [0, 8, 2, 2, 1],
 [0, 7, 4, 1, 1],
 [0, 7, 3, 2, 1],
 [0, 7, 2, 3, 1],
 [0, 6, 5, 1, 1],
 [0, 6, 4, 2, 1],
 [0, 6, 3, 3, 1],
 [0, 6, 2, 4, 1],
 [0, 5, 6, 1, 1],
 [0, 5, 5, 2, 1],
 [0, 5, 4, 3, 1],
 [0, 5, 3, 4, 1],
 [0, 5, 2, 5, 1],
 [0, 4, 7, 1, 1],
 [0, 4, 6, 2, 1],
 [0, 4, 5, 3, 1],
 [0, 4, 4, 4, 1],
 [0, 4, 3, 5, 1],
 [0, 4, 2, 6, 1],
 [0, 3, 8, 1, 1],
 [0, 3, 7, 2, 1],
 [0, 3, 6, 3, 1],
 [0, 3, 5, 4, 1],
 [0, 3, 4, 5, 1],
 [0, 3, 3, 6, 1],
 [0, 3, 2, 7, 1],
 [0, 2, 9, 1, 1],
 [0, 2, 8, 2, 1],
 [0, 2, 7, 3, 1],
 [0, 2, 6, 4, 1],
 [0, 2, 5, 5, 1],
 [0, 2, 4, 6, 1],
 [0, 2, 3, 7, 1],
 [0, 2, 2, 8, 1],
 [0, 1, 10, 1, 1],
 [0, 1, 9, 2, 1],
 [0, 1, 8, 3, 1],
 [0, 1, 7, 4, 1],
 [0, 1, 6, 5, 1],
 [0, 1, 5, 6, 1],
 [0, 1, 4, 7, 1],
 [0, 1, 3, 8, 1],
 [0, 1, 2, 9, 1],
 [0, 0, 12, 0, 2],
 [0, 0, 11, 1, 2],
 [0, 0, 10, 2, 2],
 [0, 0, 9, 3, 2],
 [0, 0, 8, 4, 2],
 [0, 0, 7, 5, 2],
 [0, 0, 6, 6, 2],
 [0, 0, 5, 7, 2],
 [0, 0, 4, 8, 2],
 [0, 0, 3, 9, 2],
 [0, 0, 2, 10, 2],
 [0, 0, 1, 11, 2]]

In [16]:
#For label 3 i.e very_low

for i in range(12,0,-1):
    temp_arr=[0,0,0,i,3]
    arr.append(temp_arr)
arr

[[1, 11, 0, 0, 0],
 [1, 10, 1, 0, 0],
 [1, 10, 0, 1, 0],
 [1, 9, 1, 1, 0],
 [1, 8, 2, 1, 0],
 [1, 8, 1, 2, 0],
 [1, 7, 3, 1, 0],
 [1, 7, 2, 2, 0],
 [1, 7, 1, 3, 0],
 [1, 6, 4, 1, 0],
 [1, 6, 3, 2, 0],
 [1, 6, 2, 3, 0],
 [1, 6, 1, 4, 0],
 [1, 5, 5, 1, 0],
 [1, 5, 4, 2, 0],
 [1, 5, 3, 3, 0],
 [1, 5, 2, 4, 0],
 [1, 5, 1, 5, 0],
 [1, 4, 6, 1, 0],
 [1, 4, 5, 2, 0],
 [1, 4, 4, 3, 0],
 [1, 4, 3, 4, 0],
 [1, 4, 2, 5, 0],
 [1, 4, 1, 6, 0],
 [1, 3, 7, 1, 0],
 [1, 3, 6, 2, 0],
 [1, 3, 5, 3, 0],
 [1, 3, 4, 4, 0],
 [1, 3, 3, 5, 0],
 [1, 3, 2, 6, 0],
 [1, 3, 1, 7, 0],
 [1, 2, 8, 1, 0],
 [1, 2, 7, 2, 0],
 [1, 2, 6, 3, 0],
 [1, 2, 5, 4, 0],
 [1, 2, 4, 5, 0],
 [1, 2, 3, 6, 0],
 [1, 2, 2, 7, 0],
 [1, 2, 1, 8, 0],
 [2, 10, 0, 0, 0],
 [2, 9, 1, 0, 0],
 [2, 9, 0, 1, 0],
 [2, 8, 1, 1, 0],
 [2, 7, 2, 1, 0],
 [2, 7, 1, 2, 0],
 [2, 6, 3, 1, 0],
 [2, 6, 2, 2, 0],
 [2, 6, 1, 3, 0],
 [2, 5, 4, 1, 0],
 [2, 5, 3, 2, 0],
 [2, 5, 2, 3, 0],
 [2, 5, 1, 4, 0],
 [2, 4, 5, 1, 0],
 [2, 4, 4, 2, 0],
 [2, 4, 3, 3, 0],
 [2, 4, 2, 4, 0],
 [2, 4, 1, 5, 0],
 [2, 3, 6, 1, 0],
 [2, 3, 5, 2, 0],
 [2, 3, 4, 3, 0],
 [2, 3, 3, 4, 0],
 [2, 3, 2, 5, 0],
 [2, 3, 1, 6, 0],
 [2, 2, 7, 1, 0],
 [2, 2, 6, 2, 0],
 [2, 2, 5, 3, 0],
 [2, 2, 4, 4, 0],
 [2, 2, 3, 5, 0],
 [2, 2, 2, 6, 0],
 [2, 2, 1, 7, 0],
 [3, 9, 0, 0, 0],
 [3, 8, 1, 0, 0],
 [3, 8, 0, 1, 0],
 [3, 7, 1, 1, 0],
 [3, 6, 2, 1, 0],
 [3, 6, 1, 2, 0],
 [3, 5, 3, 1, 0],
 [3, 5, 2, 2, 0],
 [3, 5, 1, 3, 0],
 [3, 4, 4, 1, 0],
 [3, 4, 3, 2, 0],
 [3, 4, 2, 3, 0],
 [3, 4, 1, 4, 0],
 [3, 3, 5, 1, 0],
 [3, 3, 4, 2, 0],
 [3, 3, 3, 3, 0],
 [3, 3, 2, 4, 0],
 [3, 3, 1, 5, 0],
 [3, 2, 6, 1, 0],
 [3, 2, 5, 2, 0],
 [3, 2, 4, 3, 0],
 [3, 2, 3, 4, 0],
 [3, 2, 2, 5, 0],
 [3, 2, 1, 6, 0],
 [4, 8, 0, 0, 0],
 [4, 7, 1, 0, 0],
 [4, 7, 0, 1, 0],
 [4, 6, 1, 1, 0],
 [4, 5, 2, 1, 0],
 [4, 5, 1, 2, 0],
 [4, 4, 3, 1, 0],
 [4, 4, 2, 2, 0],
 [4, 4, 1, 3, 0],
 [4, 3, 4, 1, 0],
 [4, 3, 3, 2, 0],
 [4, 3, 2, 3, 0],
 [4, 3, 1, 4, 0],
 [4, 2, 5, 1, 0],
 [4, 2, 4, 2, 0],
 [4, 2, 3, 3, 0],
 [4, 2, 2, 4, 0],
 [4, 2, 1, 5, 0],
 [5, 7, 0, 0, 0],
 [5, 6, 1, 0, 0],
 [5, 6, 0, 1, 0],
 [5, 5, 1, 1, 0],
 [5, 4, 2, 1, 0],
 [5, 4, 1, 2, 0],
 [5, 3, 3, 1, 0],
 [5, 3, 2, 2, 0],
 [5, 3, 1, 3, 0],
 [5, 2, 4, 1, 0],
 [5, 2, 3, 2, 0],
 [5, 2, 2, 3, 0],
 [5, 2, 1, 4, 0],
 [6, 6, 0, 0, 0],
 [6, 5, 1, 0, 0],
 [6, 5, 0, 1, 0],
 [6, 4, 1, 1, 0],
 [6, 3, 2, 1, 0],
 [6, 3, 1, 2, 0],
 [6, 2, 3, 1, 0],
 [6, 2, 2, 2, 0],
 [6, 2, 1, 3, 0],
 [7, 5, 0, 0, 0],
 [7, 4, 1, 0, 0],
 [7, 4, 0, 1, 0],
 [7, 3, 1, 1, 0],
 [7, 2, 2, 1, 0],
 [7, 2, 1, 2, 0],
 [8, 4, 0, 0, 0],
 [8, 3, 1, 0, 0],
 [8, 3, 0, 1, 0],
 [8, 2, 1, 1, 0],
 [9, 3, 0, 0, 0],
 [9, 2, 1, 0, 0],
 [9, 2, 0, 1, 0],
 [10, 2, 0, 0, 0],
 [0, 12, 0, 0, 1],
 [0, 9, 2, 1, 1],
 [0, 8, 3, 1, 1],
 [0, 8, 2, 2, 1],
 [0, 7, 4, 1, 1],
 [0, 7, 3, 2, 1],
 [0, 7, 2, 3, 1],
 [0, 6, 5, 1, 1],
 [0, 6, 4, 2, 1],
 [0, 6, 3, 3, 1],
 [0, 6, 2, 4, 1],
 [0, 5, 6, 1, 1],
 [0, 5, 5, 2, 1],
 [0, 5, 4, 3, 1],
 [0, 5, 3, 4, 1],
 [0, 5, 2, 5, 1],
 [0, 4, 7, 1, 1],
 [0, 4, 6, 2, 1],
 [0, 4, 5, 3, 1],
 [0, 4, 4, 4, 1],
 [0, 4, 3, 5, 1],
 [0, 4, 2, 6, 1],
 [0, 3, 8, 1, 1],
 [0, 3, 7, 2, 1],
 [0, 3, 6, 3, 1],
 [0, 3, 5, 4, 1],
 [0, 3, 4, 5, 1],
 [0, 3, 3, 6, 1],
 [0, 3, 2, 7, 1],
 [0, 2, 9, 1, 1],
 [0, 2, 8, 2, 1],
 [0, 2, 7, 3, 1],
 [0, 2, 6, 4, 1],
 [0, 2, 5, 5, 1],
 [0, 2, 4, 6, 1],
 [0, 2, 3, 7, 1],
 [0, 2, 2, 8, 1],
 [0, 1, 10, 1, 1],
 [0, 1, 9, 2, 1],
 [0, 1, 8, 3, 1],
 [0, 1, 7, 4, 1],
 [0, 1, 6, 5, 1],
 [0, 1, 5, 6, 1],
 [0, 1, 4, 7, 1],
 [0, 1, 3, 8, 1],
 [0, 1, 2, 9, 1],
 [0, 0, 12, 0, 2],
 [0, 0, 11, 1, 2],
 [0, 0, 10, 2, 2],
 [0, 0, 9, 3, 2],
 [0, 0, 8, 4, 2],
 [0, 0, 7, 5, 2],
 [0, 0, 6, 6, 2],
 [0, 0, 5, 7, 2],
 [0, 0, 4, 8, 2],
 [0, 0, 3, 9, 2],
 [0, 0, 2, 10, 2],
 [0, 0, 1, 11, 2],
 [0, 0, 0, 12, 3],
 [0, 0, 0, 11, 3],
 [0, 0, 0, 10, 3],
 [0, 0, 0, 9, 3],
 [0, 0, 0, 8, 3],
 [0, 0, 0, 7, 3],
 [0, 0, 0, 6, 3],
 [0, 0, 0, 5, 3],
 [0, 0, 0, 4, 3],
 [0, 0, 0, 3, 3],
 [0, 0, 0, 2, 3],
 [0, 0, 0, 1, 3]]

In [17]:
#Placing the data array to data frame 
DTree_df=pd.DataFrame(columns=['V_High', 'High','Low','V_Low','O_Label'])
x,y = np.shape(arr)
for i in range(0,x):
    df2=pd.DataFrame([arr[i][:]],columns=['V_High', 'High','Low','V_Low','O_Label'])
    DTree_df=DTree_df.append(df2,ignore_index=True)
DTree_df

    V_High High Low V_Low O_Label
0        1   11   0     0       0
1        1   10   1     0       0
2        1   10   0     1       0
3        1    9   1     1       0
4        1    8   2     1       0
..     ...  ...  ..   ...     ...
213      0    0   0     5       3
214      0    0   0     4       3
215      0    0   0     3       3
216      0    0   0     2       3
217      0    0   0     1       3

[218 rows x 5 columns]

In [48]:
#Selecting the features for X and Y value for Desision tree
feature_cols = ['V_High', 'High', 'Low', 'V_Low']
X = DTree_df[feature_cols] # Features
y = DTree_df.O_Label # Target variable
X=X.to_numpy()
X=X.astype(np.int)
y=y.to_numpy()
y=y.astype(np.int)
X

array([[ 1, 11,  0,  0],
       [ 1, 10,  1,  0],
       [ 1, 10,  0,  1],
       [ 1,  9,  1,  1],
       [ 1,  8,  2,  1],
       [ 1,  8,  1,  2],
       [ 1,  7,  3,  1],
       [ 1,  7,  2,  2],
       [ 1,  7,  1,  3],
       [ 1,  6,  4,  1],
       [ 1,  6,  3,  2],
       [ 1,  6,  2,  3],
       [ 1,  6,  1,  4],
       [ 1,  5,  5,  1],
       [ 1,  5,  4,  2],
       [ 1,  5,  3,  3],
       [ 1,  5,  2,  4],
       [ 1,  5,  1,  5],
       [ 1,  4,  6,  1],
       [ 1,  4,  5,  2],
       [ 1,  4,  4,  3],
       [ 1,  4,  3,  4],
       [ 1,  4,  2,  5],
       [ 1,  4,  1,  6],
       [ 1,  3,  7,  1],
       [ 1,  3,  6,  2],
       [ 1,  3,  5,  3],
       [ 1,  3,  4,  4],
       [ 1,  3,  3,  5],
       [ 1,  3,  2,  6],
       [ 1,  3,  1,  7],
       [ 1,  2,  8,  1],
       [ 1,  2,  7,  2],
       [ 1,  2,  6,  3],
       [ 1,  2,  5,  4],
       [ 1,  2,  4,  5],
       [ 1,  2,  3,  6],
       [ 1,  2,  2,  7],
       [ 1,  2,  1,  8],
       [ 2, 10,  0,  0],
       [ 2,  9,  1,  0],
       [ 2,  9,  0,  1],
       [ 2,  8,  1,  1],
       [ 2,  7,  2,  1],
       [ 2,  7,  1,  2],
       [ 2,  6,  3,  1],
       [ 2,  6,  2,  2],
       [ 2,  6,  1,  3],
       [ 2,  5,  4,  1],
       [ 2,  5,  3,  2],
       [ 2,  5,  2,  3],
       [ 2,  5,  1,  4],
       [ 2,  4,  5,  1],
       [ 2,  4,  4,  2],
       [ 2,  4,  3,  3],
       [ 2,  4,  2,  4],
       [ 2,  4,  1,  5],
       [ 2,  3,  6,  1],
       [ 2,  3,  5,  2],
       [ 2,  3,  4,  3],
       [ 2,  3,  3,  4],
       [ 2,  3,  2,  5],
       [ 2,  3,  1,  6],
       [ 2,  2,  7,  1],
       [ 2,  2,  6,  2],
       [ 2,  2,  5,  3],
       [ 2,  2,  4,  4],
       [ 2,  2,  3,  5],
       [ 2,  2,  2,  6],
       [ 2,  2,  1,  7],
       [ 3,  9,  0,  0],
       [ 3,  8,  1,  0],
       [ 3,  8,  0,  1],
       [ 3,  7,  1,  1],
       [ 3,  6,  2,  1],
       [ 3,  6,  1,  2],
       [ 3,  5,  3,  1],
       [ 3,  5,  2,  2],
       [ 3,  5,  1,  3],
       [ 3,  4,  4,  1],
       [ 3,  4,  3,  2],
       [ 3,  4,  2,  3],
       [ 3,  4,  1,  4],
       [ 3,  3,  5,  1],
       [ 3,  3,  4,  2],
       [ 3,  3,  3,  3],
       [ 3,  3,  2,  4],
       [ 3,  3,  1,  5],
       [ 3,  2,  6,  1],
       [ 3,  2,  5,  2],
       [ 3,  2,  4,  3],
       [ 3,  2,  3,  4],
       [ 3,  2,  2,  5],
       [ 3,  2,  1,  6],
       [ 4,  8,  0,  0],
       [ 4,  7,  1,  0],
       [ 4,  7,  0,  1],
       [ 4,  6,  1,  1],
       [ 4,  5,  2,  1],
       [ 4,  5,  1,  2],
       [ 4,  4,  3,  1],
       [ 4,  4,  2,  2],
       [ 4,  4,  1,  3],
       [ 4,  3,  4,  1],
       [ 4,  3,  3,  2],
       [ 4,  3,  2,  3],
       [ 4,  3,  1,  4],
       [ 4,  2,  5,  1],
       [ 4,  2,  4,  2],
       [ 4,  2,  3,  3],
       [ 4,  2,  2,  4],
       [ 4,  2,  1,  5],
       [ 5,  7,  0,  0],
       [ 5,  6,  1,  0],
       [ 5,  6,  0,  1],
       [ 5,  5,  1,  1],
       [ 5,  4,  2,  1],
       [ 5,  4,  1,  2],
       [ 5,  3,  3,  1],
       [ 5,  3,  2,  2],
       [ 5,  3,  1,  3],
       [ 5,  2,  4,  1],
       [ 5,  2,  3,  2],
       [ 5,  2,  2,  3],
       [ 5,  2,  1,  4],
       [ 6,  6,  0,  0],
       [ 6,  5,  1,  0],
       [ 6,  5,  0,  1],
       [ 6,  4,  1,  1],
       [ 6,  3,  2,  1],
       [ 6,  3,  1,  2],
       [ 6,  2,  3,  1],
       [ 6,  2,  2,  2],
       [ 6,  2,  1,  3],
       [ 7,  5,  0,  0],
       [ 7,  4,  1,  0],
       [ 7,  4,  0,  1],
       [ 7,  3,  1,  1],
       [ 7,  2,  2,  1],
       [ 7,  2,  1,  2],
       [ 8,  4,  0,  0],
       [ 8,  3,  1,  0],
       [ 8,  3,  0,  1],
       [ 8,  2,  1,  1],
       [ 9,  3,  0,  0],
       [ 9,  2,  1,  0],
       [ 9,  2,  0,  1],
       [10,  2,  0,  0],
       [ 0, 12,  0,  0],
       [ 0,  9,  2,  1],
       [ 0,  8,  3,  1],
       [ 0,  8,  2,  2],
       [ 0,  7,  4,  1],
       [ 0,  7,  3,  2],
       [ 0,  7,  2,  3],
       [ 0,  6,  5,  1],
       [ 0,  6,  4,  2],
       [ 0,  6,  3,  3],
       [ 0,  6,  2,  4],
       [ 0,  5,  6,  1],
       [ 0,  5,  5,  2],
       [ 0,  5,  4,  3],
       [ 0,  5,  3,  4],
       [ 0,  5,  2,  5],
       [ 0,  4,  7,  1],
       [ 0,  4,  6,  2],
       [ 0,  4,  5,  3],
       [ 0,  4,  4,  4],
       [ 0,  4,  3,  5],
       [ 0,  4,  2,  6],
       [ 0,  3,  8,  1],
       [ 0,  3,  7,  2],
       [ 0,  3,  6,  3],
       [ 0,  3,  5,  4],
       [ 0,  3,  4,  5],
       [ 0,  3,  3,  6],
       [ 0,  3,  2,  7],
       [ 0,  2,  9,  1],
       [ 0,  2,  8,  2],
       [ 0,  2,  7,  3],
       [ 0,  2,  6,  4],
       [ 0,  2,  5,  5],
       [ 0,  2,  4,  6],
       [ 0,  2,  3,  7],
       [ 0,  2,  2,  8],
       [ 0,  1, 10,  1],
       [ 0,  1,  9,  2],
       [ 0,  1,  8,  3],
       [ 0,  1,  7,  4],
       [ 0,  1,  6,  5],
       [ 0,  1,  5,  6],
       [ 0,  1,  4,  7],
       [ 0,  1,  3,  8],
       [ 0,  1,  2,  9],
       [ 0,  0, 12,  0],
       [ 0,  0, 11,  1],
       [ 0,  0, 10,  2],
       [ 0,  0,  9,  3],
       [ 0,  0,  8,  4],
       [ 0,  0,  7,  5],
       [ 0,  0,  6,  6],
       [ 0,  0,  5,  7],
       [ 0,  0,  4,  8],
       [ 0,  0,  3,  9],
       [ 0,  0,  2, 10],
       [ 0,  0,  1, 11],
       [ 0,  0,  0, 12],
       [ 0,  0,  0, 11],
       [ 0,  0,  0, 10],
       [ 0,  0,  0,  9],
       [ 0,  0,  0,  8],
       [ 0,  0,  0,  7],
       [ 0,  0,  0,  6],
       [ 0,  0,  0,  5],
       [ 0,  0,  0,  4],
       [ 0,  0,  0,  3],
       [ 0,  0,  0,  2],
       [ 0,  0,  0,  1]])

In [49]:
# Create Decision Tree classifer object
ClasF = DecisionTreeClassifier()

# # Train Decision Tree Classifer with th training data
D_Tree = ClasF.fit(X,y)

In [50]:
#Gettin All the unique districts
unique_districts=data_frame.DISTRICT.unique()
unique_districts

array(['BISHNUPUR', 'CHANDEL', 'CHURACHANDPUR', 'KIMPHAL_EAST',
       'IMPHAL_WEST', 'SENAPATI', 'TAMENGLONG', 'THOUBAL', 'UKHRUL'],
      dtype=object)

In [54]:
def district_wise_pred(dataframe,district,D_Tree,cluster_index,k):
    #Selecting all the rows which has this distrct
    df_for_dist=dataframe[dataframe.DISTRICT == district]
    if(k==0):
        print(df_for_dist)
    #Selecting the column containing cluster value
    df_for_dist=df_for_dist.Crime_clusters
    if(k==0):
        print("Cluster Value for the district for entire 12 year")
        print(df_for_dist)
    
    
    df_for_dist=df_for_dist.to_numpy()
    no_of_row=np.size(df_for_dist)

    DTree_pred=[[0,0,0,0]] 
    for i in range(0,no_of_row):
        cluster_value=df_for_dist[i] # First cluster Value
        index= np.where(cluster_index == cluster_value ) # Finding the index of the cluster index for which the current cluster value belongss
        index=index[0][0]

        DTree_pred[0][index]=DTree_pred[0][index]+1 #Incrementing the count value for the current index
        
    if(k==0):
        print(DTree_pred[0])
    y_pred = D_Tree.predict(DTree_pred)  #Predicting the output class for the current count values
    return y_pred

In [55]:
District_Clusters={}
i=0;
for district in unique_districts:
    D_Tree_Pred=district_wise_pred(data_frame,district,D_Tree,cluster_index,i)
    i=1
    index=D_Tree_Pred[0]
    cluster_name= cluster_index_name[index]
    District_Clusters[district]=cluster_name
District_Clusters

      DISTRICT  YEAR  MURDER  RAPE  KIDNAPPING & ABDUCTION  DACOITY  ROBBERY  \
0    BISHNUPUR  2001      29     1                       3        3        2
10   BISHNUPUR  2002      24     2                      20        1        0
20   BISHNUPUR  2003      22     2                      10        0        0
30   BISHNUPUR  2004      19     3                      14        0        0
40   BISHNUPUR  2005      30     3                       7        0        0
50   BISHNUPUR  2006      14     1                       9        0        0
60   BISHNUPUR  2007      31     4                       9        0        0
70   BISHNUPUR  2008      16     3                      14        0        0
80   BISHNUPUR  2009      16     2                       7        0        0
90   BISHNUPUR  2010      14     6                      20        0        1
100  BISHNUPUR  2011       5     2                      18        0        0
110  BISHNUPUR  2012      10    11                      12        0        0

     BURGLARY  THEFT  AUTO THEFT  CHEATING  HURT/GREVIOUS HURT  TOTAL  \
0           6     11           1         3                  21     80
10          5      9           0         8                  66    135
20          6     11           0         6                  46    103
30          5     26           0         3                  36    106
40          5     19           0         8                  38    110
50          1     18           1         6                  38     88
60          5     38           6         9                  53    155
70          9     35           9        13                  37    136
80          5     20           8         9                  30     97
90          9     28           8         9                  39    134
100         7     40          19        12                  36    139
110         6     42          28         4                  20    133

     Crime_clusters
0                 2
10                0
20                2
30                2
40                2
50                2
60                0
70                0
80                2
90                0
100               0
110               2
Cluster Value for the district for entire 12 year
0      2
10     0
20     2
30     2
40     2
50     2
60     0
70     0
80     2
90     0
100    0
110    2
Name: Crime_clusters, dtype: int32
[0, 0, 5, 7]

{'BISHNUPUR': 'Low',
 'CHANDEL': 'V_Low',
 'CHURACHANDPUR': 'V_Low',
 'KIMPHAL_EAST': 'High',
 'IMPHAL_WEST': 'V_High',
 'SENAPATI': 'V_Low',
 'TAMENGLONG': 'V_Low',
 'THOUBAL': 'Low',
 'UKHRUL': 'V_Low'}